*{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column ;
}


body {
  padding: 0;
  text-align: center;
    /* background-image: url(images/color-gradient-background.jpg); */
  /* background: url(./images/color-gradient-background.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}
#myCanvas{
  max-width: 100%;
  align-self: center;
}
button{
  align-self: center;
  width: 400px;
  height:50px;
  text-align: -webkit-center;
    justify-content: center;
}
.game-intro {
  float: left;
  padding: 0% 10%;
}
#back{
  background-position: bottom;
}
.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}
section{
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10%;
  background-color: navy;
  height: 100px;
}
